.display {
    width: 100%;
}

:host {
    background-color: #222;
    width: 100%;
    height: 60px;
}

.display {
    position: relative;
    left: 2px;
    top: 2px;
    height: 55px;
    color: black;
    background-color: #bccd95;
    font-size: 21px;
    &__history {
        overflow-x: auto;
        height: 30px;
        font-size: 12px;
    }
}